h1{
   font-family: monospace;
    color: rgb(177,30,49);
    font-size: 60px;
    position: absolute;
    left: 100px;
    top: 30px;  
}

body{
    background-color: (rgb(0, 0, 0));
}

#aboutpage{
    position: absolute;
    left: 1000px;
    top: 100px;  
    font-size: 45px;
    color: cornsilk;
    font-family: monospace;  
}

#picture{

    position: absolute;
    left: 30px;
    top: 50px;  
}  




#uploadfile{
    size-adjust: 100px;
    position: absolute;
    left: 100px;
    top: 850px;   
}

#text{
    color: rgb(255,255,255);
    font-size: 30px;
    position: absolute;
    left: 300px;
    top: 750px; 
    font-family: monospace;  
}


/*Basic structure of slider*/
.container{
    width: 400px;
    position: absolute;
    left: 520px;
    top: 300px; 
    
    overflow: hidden;
   
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
}

/*Area of images*/
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 10s infinite;
}

img{
    width: 100%;
}


/*Animation activated by keyframes*/
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    5%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-100%);
    }
    15%{
        transform: translateX(-100%);
    }
    20%{
        transform: translateX(-200%);
    }
    25%{
        transform: translateX(-200%);
    }
    30%{
        transform: translateX(-300%);
    }
    35%{
        transform: translateX(-300%);
    }
    40%{
        transform: translateX(-400%);
    }
    45%{
        transform: translateX(-400%);
    }
    
    

}




